@import "tailwindcss";

.hover-scroll-x {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hover-scroll-x::-webkit-scrollbar {
  height: 6px;
}

.hover-scroll-x:hover {
  scrollbar-color: #9a9a9a transparent;
}

.hover-scroll-x::-webkit-scrollbar-track {
  background: transparent;
}

.hover-scroll-x::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
}

.hover-scroll-x:hover::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
}
